@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
body{
	font: 700 18px/1.6 'Quicksand', sans-serif;
	color: #fff;
	background: #e5eeee;
}

a{
text-decoration: none;
}

/* Layout */
.ba-container{
	padding-left: 20px;
   padding-right: 20px;
   max-width: 840px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
		display: inline-block;
		border: none;
		background: #23AE92;
		font-weight: 700;
		font-size: 20px;
		color: #fff;
		padding: 8px;
		border: 2px solid #23AE92;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	border: 2px solid #AF8FCC;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-main-form {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	 }
	

 .sign-in {
	color: #fff;
	position: relative;
}

.sign-in:after{
	content: '';
	left: 0;
	width: 100%;
	position: absolute;
	top: 24px;
	border-bottom: 3px solid #E66A64;
}

.join-us{
	 color: #E1C2F1;
	 margin-left: 25px;
}

input[name="username"],
input[name="password"]{
	background-color: transparent;
	padding: 5px;
	margin-bottom: 20px;
}

.ba-form-header{
	margin-bottom: 50px;
}
.ba-full-width{
	width: 100%;
}

input[name="keepme"]{
margin-bottom: 40px;
}

.ba-form-footer-link{
	font: 400 13px/1.5 'Quicksand', sans-serif;
	color: rgba(255, 255, 255, 0.5);
	position: relative;
}

.ba-form-footer-link:after{
	content: '';
	left: 0;
	width: 100%;
	position: absolute;
	top: 17px;
	border-bottom: 1px solid #463DB3;
}

.ba-full-width {
	margin-bottom: 35px;
}
.ba-form-footer-link-create{
	margin-left: 30px;
}

.join-us:hover {
	color: #fff;
	padding-bottom: 2px;
	border-bottom: 2px solid #E66A64;
}

.ba-sign-in-button:hover {
border: 2px solid #fff;
background: transparent;
color: #23AE92;
}

.ba-form-footer-link:hover{
	color: #fff;
}

.ba-form {
	background-image: url(/12/sign-in-form/img/body3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5.7% 8.75% 5.7% 8.75%;
	width: 50%;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}